
.article-body {
  line-height: 1.75;
  font-size: 1rem;
}

.article-body h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article-body h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.article-body h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.article-body p {
  margin-bottom: 1.25rem;
}

.article-body a {
  color: #2563eb; 
  text-decoration: underline;
}
.article-body a:hover {
  color: #1d4ed8; 
}

.article-body code {
 background-color: rgb(255, 255, 255, 0.1);
  color: #fff; 
  font-family: 'Fira Code', monospace;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
}

.article-body pre {
  background-color: #0f172a; 
  color: #f1f5f9;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Fira Code', monospace;
  font-size: 0.95rem;
}

.article-body ul,
.article-body ol {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.25rem;
}

.article-body li {
  margin-bottom: 0.5rem;
}

.article-body blockquote {
  border-left: 4px solid #d1d5db; 
  padding-left: 1rem;
  font-style: italic;
  color: #6b7280;
  margin: 1.5rem 0;
}

.article-body svg{
  display: none;
}
