@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-geist-sans: "Work Sans", sans-serif;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}
